<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registro_articulos_tecnologicos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CodigoPin3"></activity>
        <activity android:name=".eliminar" />
        <activity android:name=".editar" />
        <activity android:name=".buscar" />
        <activity android:name=".menuPrincipal5" />
        <activity android:name=".cargando4" />
        <activity android:name=".HuellaOpin2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>